{{ template "header" . }}

<div class="columns">
    <div class="column">
        <div class="plan-table">
        </div>
    </div>
    <div class="column">
        {{ template "stripe-form" }}
    </div>
</div>

{{ template "footer" . }}
