{{ define "footer" }}
    </div>
</body>
<script src="/static/jquery.js"></script>
<script src="/static/highlight.js"></script>
<script src="/static/script.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</html>
{{ end }}
