{{ template "header" . }}

<div class="container">
<div class="columns">
    <div class="column">
        <table class='table is-striped'>
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Time</th>
                    <th>ACK</th>
                </tr>
            </thead>
            <tr>
            </tr>
        </table>
    </div>
    <div class="column">
    </div>
</div>
</div>
