{{ template "header" . }}

<div class="container">
    <div class="pricing">
        <div class="personal info">
            <div class="key-info">
                <div class="plan-name">
                    Personal 
                </div>
                <div class="price">
                $24 / month
                </div>
                <div class="detail">
                    50 alerts per month
                </div>
            </div>
            <ul class="plan-info">
                <li>SMS, Phone Call and Email Alerts</li>
                <li>Slack integration<li>
                <li>Custom dashboard with historical alerts</li>
                <li>Retry and backoff until alert ACK</li>
                <li>Web Support</li>
            </ul>
        </div><div class="team info">
            <div class="key-info">
                <div class="plan-name">
                    Team
                </div>
                <div class="price">
                $55 / month
                </div>
                <div class="detail">
                    1000 alerts per month
                </div>
                <div class="detail">
                    5 user accounts
                </div>
            </div>
            <ul class="plan-info">
                <li>SMS, Phone Call and Email Alerts</li>
                <li>Slack integration<li>
                <li>Custom dashboard with historical alerts</li>
                <li>Retry and backoff until alert ACK</li>
                <li class="important-info">Email and Phone Support</li>
            </ul>
            <a class="buy-button">Signup Now</a>
        </div>
    </div>
</div>
